{%load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Vineeth Menneni</title>
		<meta name="description" content="Vineeth portfolio " />
		<meta name="keywords" content="vineeth, menneni, django, python, flask, css transition" />
		<meta name="author" content="Vineeth" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}" />
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container" >
			<header class="codrops-header">
                <img id="profile_picture" class="profile_picture" src="{% static 'img/vineeth.png'%}">
                <h1>Vineeth Menneni <span>Software Developer</span></h1>
                <article>
                <p class="codrops-links" id='text'>
                    Hey I am a professional web and software developer from San Francisco California.I work primarily with Django, Python and ReactJs.  
                </p>
                <p class="codrops-links" id='text'>
                    Get a sneak peak of some of my projects and blog post.Need help with an upcoming application or project? Get to know more about me and consider hiring me.
                </p>
                </article>
<!--	
				<div class="codrops-related">
					If you enjoyed this menu, you might also like:<br />
					<a href="http://tympanus.net/Development/MultiLevelPushMenu/">Multi-Level Push Menu</a><br/>
					<a href="http://tympanus.net/Development/SidebarTransitions/">Transitions for Off-canvas Navigations</a>
				</div>
-->
			</header>
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
                    <li><a href="{% url 'home' %}" class="bt-icon icon-home">Home</a></li>
					<li><a href="{% url 'about' %}" class="bt-icon icon-user-outline">About</a></li>
					<li><a href="{% url 'skills' %}" class="bt-icon icon-sun">Skills</a></li>
					<li><a href="{% url 'work' %}" class="bt-icon icon-windows">Work</a></li>
					<li><a href="{% url 'blog' %}" class="bt-icon icon-speaker">Blog</a></li>
					<li><a href="{% url 'contact' %}" class="bt-icon icon-bubble">Contact</a></li>
				</ul>
			</nav>
		</div><!-- /container -->
	</body>
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/borderMenu.js' %}"></script>
</html>